h1{
    font-size:4.25rem;
    line-height: 1.3em;
}
h2{
    font-size:2.635rem;
    line-height: 1.380em;
}
h3{
    font-size:1.5rem ;
    line-height: 1.333em;
}
h4{
    font-size:1.375rem;
    line-height: 1.272em;
}
h5{
    font-size:1.125rem;
    line-height: 1.333em;
}
h6{
    font-size:1rem;
    line-height: 1.375em;
}
p{
    font-size:1.125rem;
    line-height: 1.777em;
}
p.small{
        font-size:0.875rem;
        line-height: 1.600em;
    }
    p.large{
        font-size:1.375rem;
        line-height: 1.818em;
    }
a{
    text-decoration: none;
    color: inherit;
}
header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-top: 32px;
    padding-bottom: 32px;
}
header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}
header > div {
    display: flex;
    align-items: center;
}
header > nav > ul > li {
    margin-right: 40px;
}
header > div > svg{
    margin-right: 12px;
}
section{
    height: 100vh;
    background-color:wheat;
    
}
section#Banner div{
    width:50%;
}

#Banner h1{
    font-size:1.5rem ;
    line-height: 1.333em; 
    margin-top: 0;
    margin-bottom: 20px;
}
#Banner h2{
    font-size:4.25rem;
    line-height:1.3em;
    margin-top: 0;
    margin-bottom: 24px;
}
#Banner {
    display:flex ;
    align-items: center;
}

.btn{
    padding: 24px 60px;
    border-style: none;
    border-radius: 80px;
    background-color:gray; 
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700; 
}
/* button combinations ,we can use button as btn secondary large in html */
.btn.secondary{
    background-color:#14142b; 
    color: #fff;
}
.btn.small{
    padding: 14px 32px;
    font-size:1rem;
    line-height:1.125rem;
}
.btn.large{
    padding: 20px 68px;
    font-size:1.375rem;
    line-height:1.5rem;
}

#Banner img{    
    border-radius: 50%;
    margin-top: 100px;
   display:flex;
   justify-content:center;
   align-items: center;
}

